.token__form {
    box-sizing: border-box;
    width: min(80vw,400px);
    aspect-ratio: 1;
    position: relative;
}

.token{
    @include token;
    transition: all 1s ease;
    &.scissors {
        top: -5%;
        left: calc((100% - $token-size)/2);
        .token__border {
            @include token-border($scissors-light, $scissors-dark);
        }
    }
    &.paper {
        top: 25%;
        left: calc(105% - $token-size);
        .token__border {
            @include token-border($paper-light, $paper-dark);
        }
    }
    &.rock {
        top: calc(105% - $token-size);
        left: calc(90% - $token-size);
        .token__border {
            @include token-border($rock-light, $rock-dark);
        }
    }
    &.lizard {
        top: calc(105% - $token-size);
        left: 10%;
        .token__border {
            @include token-border($lizard-light, $lizard-dark);
        }
    }
    &.spock {
        top: 25%;
        left: -5%;
        .token__border {
            @include token-border($spock-light, $spock-dark);
        }
    }
    &:hover {
        transform: scale(1.1) rotate(0.05turn);
        cursor: pointer;
    }
}
input{display: none}

#token-scissors-input:checked {
    @include tokensWhenChecked(".scissors")
}
#token-rock-input:checked {    
    @include tokensWhenChecked(".rock")
}
#token-paper-input:checked {
    @include tokensWhenChecked(".paper")
}
#token-lizard-input:checked {
    @include tokensWhenChecked(".lizard")
}
#token-spock-input:checked {
    @include tokensWhenChecked(".spock")
}