@mixin angles {
    border-radius: 10px;
}

@mixin token {
    position: absolute;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    list-style-type: none;
    width: $token-size;
    height: $token-size;
    border-radius: 50%;
    box-shadow: 0px min(25vw * 0.18, 140px * 0.18) 2px $token-shadow inset;
    .token__img {
        width: 50%;
    }
}

@mixin token-border($color, $shadow) {
    border-radius: 50%;
    width: $token-size;
    height: $token-size;
    border: min(25vw * 0.13, 140px * 0.13) solid $color;
    box-shadow: 0px 5px 0px $shadow;
    display: grid;
    justify-items: center;
    align-items: center;
}

@mixin tokensWhenChecked($token){
    &~ #{$token}{
        top: 0;
        left: 5%;
        transform: scale(1.5);
    }
    &~ .token:not(#{$token}), &~ .pentagon{
        display: none;
    }
}